{
    # Port to listen on. Overriden by the --port command line setting.
    "port": 3001,

    # List of domains which the server is willing to proxy for. Subdomains are included automatically.
    "allowProxyFor" : [
        "nicta.com.au",
        "gov.au",
        "csiro.au"
    ],
    
    # If this setting is true, the allowProxyFor list is ignored, and all requests are accepted.
    "proxyAllDomains": false,

    # Pass requests through to another proxy upstream.
    "upstreamProxy": "proxy.example.com",

    # List of directories where init (catalog) files will be sought, before defaulting to wwwroot/init. This helps with managing catalog files
    # separately from the main codebase.
    "initPaths": [ "../randominits" ],

    # Hosts in this list will not be passed through to the upstream proxy.
    "bypassUpstreamProxyFor": [
      "server.example.com"
    ]
}

